.footer {
  overflow: hidden;
  background: linear-gradient(180deg, #0a2850, #071931 100%);
}

.footer__content {
  margin: 60px 80px 108px;
  display: flex;
}

.foot__logo {
  margin: 0;
  width: 105px;
  height: 39px;
}
.footer__column {
  margin: 0 0 0 auto;
}

.footer_social-heading {
}

.footer__list {
}

.footer__list-item {
}

.footer__social-icon {
}

.footer__social-link {
}

.footer__copyright {
}
