.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.reservation__title {
  margin: 100px auto 80px;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto 120px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.form__fieldset {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 385px;
  max-width: 385px;
  border-style: none;
}

.form__input {
  margin: 0 0 32px;
  color: #000;
  padding: 15px 20px;
}

.form__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button[type="submit"] {
  margin: 0 auto 32px;
  padding: 20px 0 20px;
  border-radius: 4px;
  background-color: #1878dc;
  color: #fff;
  width: 385px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.1s linear;
}

.form__button[type="submit"]:hover {
  background-color: #3f96f3;
}

.form__label {
  margin: 0 auto 8px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_agreement {
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  margin: 0 12px 0 0;
}
